PORT=8080

# Postgresql
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=marketplacedb
DB_HOST=postgres
DB_PORT=5432

# Redis 
REDIS_HOST=redis
REDIS_PORT=6379

# JWT 
JWT_SECRET=change_this_to_a_secure_random_secret_in_production
