PORT=8080

# Postgresql
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=marketplacedb
DB_HOST=postgres
DB_PORT=5432

# Redis 
REDIS_HOST=redis
REDIS_PORT=6379

# JWT 
JWT_SECRET=d8f8a61479e0a6d59b2075fb86259e217d8486981cf098492fae3fae800c7325
